div{
	width: 621px;
	background-color: green;
	}
	
div.blok1_poblocki:hover{
	 background-color: gold;
	 font-size: 18mm; 
	}
	
div.blok2_poblocki:hover{
	background-color: yellow;
	font-size: 18mm; 
	}
	
div.blok3_poblocki:hover{
	background-color: red;
	font-size: 18mm; 
	}
	
/*	
Hover: zmienia wygląd tekstu gdy najeżdżamy na nie kursorem 
Dawid Pobłocki 
*/